html {
  font-family: 'Segoe UI';
  font-size: 16px;
}

body {
  background: black;
  color: #ebebeb;
  margin-left: 8px;
  margin-right: 8px;
}

.list {
  background-color: #444444;
  font-size: 1.0rem;
  margin: 12px;
  padding: 4px;
  display: block;
  box-shadow: 4px 4px #222222;
}

.group {
  background-color: #333333;
  margin: 8px;
  padding: 4px;
  overflow: hidden;
  word-wrap: none;
  display: block;
  box-shadow: 4px 4px #222222;
}

.channel {
  background-color: #333333;
  margin: 8px;
  padding: 4px;
  overflow: hidden;
  word-wrap: none;
  display: block;
  box-shadow: 4px 4px #222222;
}

.video {
  padding-top: 20px;
  position: fixed;
  top: 0px;
  left: 800px;
  z-index: 999;
}

.text {
  padding-top: 20px;
  position: fixed;
  top: 740px;
  left: 820px;
  z-index: 999;
}